.from {
    &--left,
    &--right {
        transition: opacity 250ms ease-in, transform 500ms ease-in;
        opacity: 0;

        &.appear {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &--left {
        transform: translateX(-100%);
    }

    &--right {
        transform: translateX(100%);
    }
}
