.btn {
    font-weight: bolder;
    color: var(--clr-blue);
    background: var(--clr-primary-dark);
    border: 2px solid var(--clr-primary-light);
    padding: $margin-sm $margin-md;
    border-radius: $rounded;
}
