.contact {
    grid-area: contact;

    &__info {
        list-style: none;

        @include mq(sm) {
            column-count: 2;
            column-fill: balance;
        }
    }

    &__icon {
        margin: 0 $margin-xs;
    }
}
