.tech {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto-fit;
        grid-row-gap: $margin-sm;

        @include mq(md) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        --clr: var(--clr-primary-light);

        text-align: center;
        color: var(--clr);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto-fit;
        grid-gap: $margin-xs;

        @include mq(md) {
            grid-template-columns: 90px 1fr;
            grid-template-rows: 1fr;
        }

        &.html {
            --clr: #e44d26;
        }

        &.sass {
            --clr: #cd669a;
        }

        &.js {
            --clr: #f0db4f;
        }

        &.git {
            --clr: #f05033;
        }

        &.nodejs {
            --clr: #689f63;
        }

        &.webpack {
            --clr: #1c78c0;
        }

        &.mongodb {
            --clr: #599736;
        }

        &.react {
            --clr: #61dafb;
        }
    }

    &__icon {
        font-size: var(--icon-size);
    }

    &__title {
        color: inherit;
        font-family: $ff-b;
    }

    &__bar {
        background: var(--clr-primary-dark-2);
        color: var(--clr-primary-light);
        font-weight: bolder;
        display: flex;
        flex-direction: column-reverse;
        width: 40px;
        height: 200px;
        margin: 0 auto;
        border-radius: $rounded;
        overflow: hidden;

        @include mq(md) {
            flex-direction: row;
            height: 40px;
            width: 100%;
            margin-left: 0;
        }

        &--completed {
            background: var(--clr);
            display: flex;
            justify-content: center;
            border-radius: $rounded;
            padding-top: $margin-xs;

            @include mq(md) {
                justify-content: flex-end;
                align-items: center;
                padding-top: 0;
                padding-right: $margin-xs;
            }

            &.html {
                height: 90%;

                @include mq(md) {
                    height: auto;
                    width: 90%;
                }
            }

            &.sass {
                height: 90%;

                @include mq(md) {
                    height: auto;
                    width: 90%;
                }
            }

            &.js {
                height: 80%;
                color: var(--clr-primary-dark);

                @include mq(md) {
                    height: auto;
                    width: 80%;
                }
            }

            &.git {
                height: 60%;

                @include mq(md) {
                    height: auto;
                    width: 60%;
                }
            }

            &.nodejs {
                height: 60%;

                @include mq(md) {
                    height: auto;
                    width: 60%;
                }
            }

            &.react {
                height: 65%;
                color: var(--clr-primary-dark);

                @include mq(md) {
                    height: auto;
                    width: 65%;
                }
            }
        }
    }
}
