.contact {
    grid-area: contact;

    &-form {
        width: 100%;

        &__group {
            margin-bottom: $margin-sm;
            padding-bottom: $margin-xs;

            &:first-child {
                margin-top: $margin-sm;
            }

            &:not(:nth-child(3)) {
                border-bottom: 2px solid var(--clr-primary-light);
            }
        }

        &__input,
        &__text,
        &__btn {
            width: 100%;
            border: none;
            outline: none;
        }

        &__input,
        &__text {
            background: none;
            color: var(--clr-primary-light);
            padding: 0 $margin-xs;
        }

        &__text {
            border-radius: $rounded;
            border: 2px solid var(--clr-primary-light);
            padding: $margin-xs;
        }

        &__label {
            &::after {
                content: ':';
            }
        }
    }
}
