@import url('https://fonts.googleapis.com/css?family=Satisfy|Ubuntu+Mono&display=swap');

body {
    font-size: $fs-b;
    font-family: $ff-b;
}

$_h-sizes: (h1, h2, h3, h4, h5, h6);

#{$_h-sizes} {
    font-family: $ff-h;
    color: var(--clr-blue);
}
