.nav {
    grid-area: nav;
    font-size: $fs-nav;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__item {
        list-style: none;
        text-align: center;
        padding: 0 $margin-xs;

        &:not(:last-child) {
            border-right: 2px solid var(--clr-primary-light);
        }

        @include mq(sm) {
            padding: 0 $margin-sm;
        }
    }

    &__icon {
        display: none;

        @include mq(sm) {
            display: inline;
        }
    }

    &__link-text {
        @extend .styled-link;
    }
}
