// Width
::-webkit-scrollbar {
    width: auto;

    // Track
    &-track {
        background: var(--clr-primary-dark);
        border-left: 1px solid var(--clr-primary-dark-2);
    }

    // Handle
    &-thumb {
        background: var(--clr-blue);
        border-radius: $rounded;
    }
}
